:root {
  --primary: #ffffff;
  --dark: #070707;
  --border-radius: 0.3rem;
  --background: linear-gradient(118deg, rgba(38,57,207,1) 0%, 
  rgba(31,30,135,1) 25%,
  rgba(11,36,153,1) 37%, 
  rgba(15,55,193,0.9037990196078431) 58%, 
  rgba(0,0,0,1) 100%);
  --bglightdark:linear-gradient(118deg, rgba(89,89,89,1) 0%,
  rgba(38,38,42,1) 30%, rgba(59,60,61,1) 37%,
  rgba(76,76,78,0.7497373949579832) 58%,
  rgba(0,0,0,1) 92%);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--dark);
  line-height: 1.5;
  font-size: 16px;
  
}

h1,
h2

{
  font-weight: 700;
  margin: 0;
  color: var(--dark);
  line-height: 1.25;
}

main {
  margin: 20px auto;
  width: 94%;
}

p {
  font-size: 1.2rem;
  text-align: start;
  padding-top: 1.0rem;
}


/* btn style*/
.btn {
  font-size: 1.3rem;
  text-decoration: none;
  padding: 6px 5px;
  width: 100%;
  display: block;
  margin: 5px 0;
  border: 2px solid;
  background: var(--background);
  background-size: 200% 100%;
  background-position: bottom left;
  transition: all .7s ease-out;
  color: white;
  border-radius: 10px; 
}

.btn:hover {
  border: none;
  background-position: bottom right;
  color: #fff;
  box-shadow: 0 10px 6px -6px #777;  
}

.btn-inline {
  display: inline;
}

.hero {
  padding: 3% 4%;
  padding: 3% 4%;
  background: var(--background);
  color: var(--primary);
}

/* CARDS */
.card {
  margin: 0 0 20px 0;
  border: none;
  
}

.card-header {
  color: var(--dark);
  background: transparent;
  padding: 2.5%;
}

.card-body {
  padding: 2.5%;
  border-bottom: 3px ridge black;
  border-radius: 3px;
  
}

/* input form */

.form-label,
.form-input,
.form-textarea {
  display: block;
}

.form-label {
  font-size: 1.1rem;
  margin: 0 0 0 5px;
}

.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid darkgray;
  border-radius: var(--border-radius);
}

button{
  font-size: 1.3rem;
  text-decoration: none;
  width: 100%;
  display: block;
  margin: 5px 0;
  border: none;
  background: var(--bglightdark);
  background-size: 200% 100%;
  background-position: bottom left;
  transition: all .7s ease-out;
  color: white;
  border-radius: 10px;
  text-align: center;
  
  
}
 .buttons:hover{
  border: none;
  box-shadow: 0 10px 6px -6px #777;
 }

/* selected city forcast display*/
 .today-forecast{
  border: 2px #070707 solid;
  margin-top: 30px;
  border-radius: 10px;
  
  
  
 }

 .icon{
  float: right;
 }

/* date-cards */
.day-1,
.day-2,
.day-3,
.day-4,
.day-5 
{
background: linear-gradient(118deg, rgba(32,34,87,1) 0%, 
rgba(26,37,140,1) 84%,
rgba(0,0,93,1) 99%,
rgba(3,3,80,1) 99%,
rgba(0,0,0,1) 100%);

margin: 10px;
height: 300px;
border-radius: 10px;
color: #fff;
box-shadow:0 10px 6px -6px #777; 
font-weight: 100;
font-size: medium;
padding: 0.5rem;
font-size: small;
width: 110%;
}

